.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: rgb(240, 240, 240);
    width: 350px;
    border-radius: 15px;
    border: 2px solid rgb(105, 105, 105);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.searchuser{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}